asgiref==3.5.0
click==8.0.3
colorama==0.4.4
Django==4.0.1
h11==0.13.0
httptools==0.3.0
python-dotenv==0.19.2
PyYAML==6.0
sqlparse==0.4.2
tzdata==2021.5
uvicorn==0.17.0.post1
watchgod==0.7
websockets==10.1
